[submodule "linkahead/webui"]
	path = linkahead/webui
	url = https://gitlab.indiscale.com/caosdb/src/caosdb-webui
[submodule "linkahead/server"]
	path = linkahead/server
	url = https://gitlab.indiscale.com/caosdb/src/caosdb-server.git
[submodule "linkahead/backend"]
	path = linkahead/backend
	url = https://gitlab.indiscale.com/caosdb/src/caosdb-mysqlbackend.git
