x-linkahead-webui: &linkahead-webui
  image: linkahead-webui:latest
  command: ["nginx${NGINX_DEBUG}", '-g', 'daemon off;']
  volumes:
    - type: bind
      source: ./webui/
      target: /public/ext/
x-linkahead-backend: &linkahead-backend
  image: linkahead-backend:mariadb-11.8.3-noble
  environment:
    MARIADB_RANDOM_ROOT_PASSWORD: 1
x-linkahead: &linkahead
  image: linkahead:dev-vanilla
  environment:
    CAOSDB_CONFIG_MYSQL_HOST: "linkahead-backend"
    CAOSDB_CONFIG_SERVER_PORT_HTTPS: Null
    CAOSDB_CONFIG_ADMIN_USER: "admin"
    CAOSDB_CONFIG_ADMIN_PASSWORD: "password"
    CAOSDB_CONFIG_GRPC_SERVER_PORT_HTTP: "81"
    CAOSDB_CONFIG_DEFAULT_HANDLE_PID_PREFIX: "21.T11955"
    JAVA_TOOL_OPTIONS: "-Dcaosdb.debug=true"
    DOIP_SERVER_HOST: "$REMOTE_HOST"
    CAOSDB_CONFIG_AUTHENTICATION_TRUSTED_OIDC_PROVIDER_URLS: "http://foras:8000/auth/realms/FdoTestbed/.well-known/openid-configuration"
  volumes:
    - type: bind
      source: ./sss
      target: /linkahead/scripting/
x-consumer: &consumer
  env_file:
    - .env
    - .consumer.env
  networks:
    - consumer
x-provider: &provider
  networks:
    - provider
  env_file:
    - .env
    - .provider.env
x-connector: &connector
  image: connector:0.13.0
  volumes:
    - type: bind
      source: ${PWD}/config
      target: /config
      read_only: true
  healthcheck:
    start_period: 10s
    retries: 10
    interval: 10s
    timeout: 5s
    test: ["CMD", "curl", "--fail-with-body", "http://localhost:19191/api/check/health"]
x-nginx: &nginx
  image: nginx:1.29-alpine-slim
  command: ['nginx${NGINX_DEBUG}', '-g', 'daemon off;']
  volumes:
    - type: bind
      source: nginx/nginx.conf
      target: /etc/nginx/templates/default.conf.template
      read_only: true

networks:
  consumer:
    name: "${COMPOSE_PROJECT_NAME}-consumer"
  provider:
    name: "${COMPOSE_PROJECT_NAME}-provider"

services:
  provider-linkahead-webui:
    <<:
      - *linkahead-webui
      - *provider
    container_name: ${COMPOSE_PROJECT_NAME}-provider-linkahead-webui
    links:
      - "provider-linkahead:linkahead"
  provider-linkahead-backend:
    <<:
      - *linkahead-backend
      - *provider
    container_name: ${COMPOSE_PROJECT_NAME}-provider-linkahead-backend
  provider-linkahead:
    <<:
      - *linkahead
      - *provider
    container_name: ${COMPOSE_PROJECT_NAME}-provider-linkahead
    links:
      - "provider-linkahead-backend:linkahead-backend"
      - "provider-token-service:token-service"
  provider-connector:
    <<:
      - *connector
      - *provider
    container_name: ${COMPOSE_PROJECT_NAME}-provider-connector
  provider-token-service:
    <<: *provider
    container_name: "${COMPOSE_PROJECT_NAME}-provider-token-service"
    image: token-service:latest
    environment:
      REGISTERED_CLIENTS_JSON_FILE: /var/clients/clients.json
    volumes:
      - type: bind
        source: ./token-service/clients
        target: /var/clients
        read_only: true
  provider-nginx:
    <<:
      - *nginx
      - *provider
    container_name: "${COMPOSE_PROJECT_NAME}-provider-nginx"
    ports:
      - "${PROVIDER_NGINX_PORT_PRIVATE}:${PROVIDER_NGINX_PORT_PRIVATE}"
      - "${PROVIDER_NGINX_PORT_PUBLIC}:${PROVIDER_NGINX_PORT_PUBLIC}"
    links:
      - "provider-token-service:token-service"
      - "provider-connector:connector"
      - "provider-linkahead:linkahead"
      - "provider-linkahead-webui:linkahead-webui"
  consumer-token-service:
    <<: *consumer
    container_name: "${COMPOSE_PROJECT_NAME}-consumer-token-service"
    image: token-service:latest
    environment:
      REGISTERED_CLIENTS_JSON_FILE: /var/clients/clients.json
    volumes:
      - type: bind
        source: ./token-service/clients
        target: /var/clients
        read_only: true
  consumer-untus-proxy:
    <<: *consumer
    container_name: "${COMPOSE_PROJECT_NAME}-consumer-untus-proxy"
    image: untus-proxy:latest
    environment:
      TUS_HOST: "tusd"
      TUS_PORT: 8000
    links:
      - "consumer-tusd:tusd"
  consumer-tusd:
    <<: *consumer
    container_name: "${COMPOSE_PROJECT_NAME}-consumer-tusd"
    build:
      context: tus
    command: ["-port", "8000", "-upload-dir", "${TUSD_DATA_DIR}", "-base-path", "/files"]
  consumer-connector:
    <<:
      - *connector
      - *consumer
    container_name: ${COMPOSE_PROJECT_NAME}-consumer-connector
  consumer-nginx:
    <<:
      - *nginx
      - *consumer
    container_name: "${COMPOSE_PROJECT_NAME}-consumer-nginx"
    ports:
      - "${CONSUMER_NGINX_PORT_PRIVATE}:${CONSUMER_NGINX_PORT_PRIVATE}"
      - "${CONSUMER_NGINX_PORT_PUBLIC}:${CONSUMER_NGINX_PORT_PUBLIC}"
    links:
      - "consumer-keycloak:keycloak"
      - "consumer-connector:connector"
      - "consumer-tusd:tusd"
      - "consumer-token-service:token-service"
      - "consumer-untus-proxy:untus-proxy"
      - "consumer-linkahead:linkahead"
      - "consumer-linkahead-webui:linkahead-webui"
  consumer-linkahead-webui:
    <<:
      - *linkahead-webui
      - *consumer
    container_name: ${COMPOSE_PROJECT_NAME}-consumer-linkahead-webui
    links:
      - "consumer-linkahead:linkahead"
  consumer-linkahead-backend:
    <<:
      - *linkahead-backend
      - *consumer
    container_name: ${COMPOSE_PROJECT_NAME}-consumer-linkahead-backend
  consumer-linkahead:
    <<:
      - *linkahead
      - *consumer
    container_name: ${COMPOSE_PROJECT_NAME}-consumer-linkahead
    links:
      - "consumer-linkahead-backend:linkahead-backend"
      - "consumer-token-service:token-service"
  consumer-keycloak-postgres:
    <<:
      - *consumer
    container_name: "${COMPOSE_PROJECT_NAME}-consumer-keycloak-postgres"
    image: 'postgres:15-alpine'
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: keycloak
    volumes:
      - ./keycloak:/tmp/postgresdump
  consumer-keycloak:
    <<:
      - *consumer
    container_name: "${COMPOSE_PROJECT_NAME}-consumer-keycloak"
    build:
      context: ./keycloak
    command:
      - start
      - --import-realm
      - --optimized
    volumes:
      - ./keycloak/data/import/:/opt/keycloak/data/import/
    environment:
      KC_HEALTH_ENABLED: true
      KC_BOOTSTRAP_ADMIN_USERNAME: "admin"
      KC_BOOTSTRAP_ADMIN_PASSWORD: "keycloak"
      KC_DB: "postgres"
      KC_DB_USERNAME: "username"
      KC_DB_PASSWORD: "password"
      KC_DB_URL_PORT: "5432"
      KC_DB_URL_HOST: "consumer-keycloak-postgres"
      KC_DB_URL_DATABASE: "keycloak"
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "true"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_HOSTNAME: "${REMOTE_HOST}"
      KC_PROXY: "edge"
      KC_HTTP_RELATIVE_PATH: "/auth"
